.ShipIcon {
    position: relative;
    
    .ShipIcon-imageContainer {
        border-radius: .5em;
        box-sizing: border-box;
        overflow: hidden;
        width: 100%;
        height: 100%;
        
        img {
            opacity: .2;
            overflow: hidden;
        }
    }
    
    .ShipIcon-arrow {
        position: absolute;
        opacity: .2;
    }

    &.has-colour {
        .ShipIcon-imageContainer {
            border: 5px solid white;
        }
    }
}