@use './Variables.scss' as *;


.ShipCard {
    color: black;
    font-weight: bold;
    display: flex;
    gap: 2px;
    margin: 10px;
    break-inside: avoid;

    .ShipCard-face {
        position: relative;
        box-sizing: border-box;
        width: $tileWidth;
        height: $tileHeight;
        border-radius: 1em;
        display: flex;
        flex-direction: column;
        border: solid .1em black;
        overflow: hidden;
    }

    .ShipCard-back {
        justify-content: center;
    }

    .ShipCard-front {
        background-color: rgb(255, 255, 255);
        align-items: center;
        justify-content: center;
        $pad: .75em;

        .ShipCard-header {
            position: absolute;
            top: 0;
            padding: $pad;

            .ShipCard-name {
                text-transform: uppercase;
                padding: 0 3em;
            }

            .ShipCard-cost {
                $spacing: .5em;
                $size: 1.2em;
                margin-top: $spacing * 2;
                font-size: .9em;
                display: flex;
                flex-direction: row;
                justify-content: center;
                gap: $spacing;
                span {
                    background: white !important;
                    border: 5px solid white;
                    padding: .3em;
                    border-radius: .5em;
                    width: $size;
                    height: $size;
                }
            }
        }
        
        .ShipCard-description {
            padding: $pad; 
            font-weight: normal;
        }

        .ShipIcon {
            position: absolute;
            left: $pad;
            bottom: $pad;
        }

        .VP {
            position: absolute;
            right: $pad;
            bottom: $pad;
        }

        .ShipCard-disposable {
            position: absolute;
            top: 0;
            right: 0;
            color: white;
            background: red;
            border: 2px solid red;
            width: 100%;
            transform: translate(95px, 22px) rotate(45deg);
        }
    }
}