.Tile {
  text-align: center;
  color: black;
  display: flex;
  break-inside: avoid;
  transform: translateZ(1px);
  
  .stage {
    stroke: #000;
    &-0 {
      fill: white;
    }
    &-1 {
      fill: rgb(154, 255, 165);
    }
    &-2 {
      fill: rgb(134, 189, 251);
    }
  }

  &-back, &-front {
    overflow: visible;
  }

  &-back {
    // break-after: avoid;
    break-inside: avoid;
  }
  
  &-front {
    // break-after: auto;
    position: relative;
    break-inside: avoid;

    .resource-space {
      fill: none;
      stroke: black;
    }
  }
  
  .content {
    transform: translate(-50%, -50%);
    position: absolute;
    left: 50%;
    top: 50%;

    .content-inner {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      box-sizing: border-box;
      height: 100%;
      padding-bottom: 30px;
    }

    .cost {
      display: flex;
      justify-content: center;
      gap: 10px;
      
      .cost-icon {
        display: inline-block;
        width: 20px;
      }

      .cost-label {

      }

      .cost-group {
        display: flex;
        flex-basis: 2.75em;
        justify-content: space-between;
      }
    }

  }
}

.Tile-front-label {
  font-size: calc(.85em);
  font-weight: 800;
}

.Tile-front-label.title {
  font-size: calc(1.5em);
  font-weight: 800;
}

.Tile-back-label {
  font-size: calc(.85em);
  font-weight: 800;
}
.Tile-back-label.placement {
  font-size: calc(.75em);
}
.Tile-back-label.placement.label {
  font-size: calc(.6em);
}

.print .Tile {
  page-break-after: auto;
}

.print {
  .Tile-front {
      transform: rotate(60deg);
  }
}